{
  "extends": "stylelint-config-wordpress/scss",
  "plugins": ["stylelint-order"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "max-line-length": 120,
    "selector-pseudo-element-colon-notation": "single",
    "function-url-quotes": "always"
  }
}
